curtsies==0.4.2
einops==0.8.0
imageio==2.34.2
matplotlib==3.5.1
numpy==1.21.5
opencv_python==4.8.0.74
opencv_python_headless==4.9.0.80
pandas==2.2.2
PennyLane==0.36.0
Pillow==9.0.1
Pillow==10.4.0
PyYAML==6.0
PyYAML==5.4.1
PyYAML==6.0.1
torch==2.3.1
torchsummary==1.5.1
torchvision==0.18.1
tqdm==4.66.4
